{/**login logo ***/}
.loginLogo {
  padding: 5vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 25vw;
}

.text {
  width: 30vw;
}

{/***login form***/}
.loginLeftLabel {
  font-size: 4vw;
  color: #5b5b5b;
  height: 5vw;
  line-height: 5vw;
  width: 16vw;
  text-align: center;
  border-right: 1px solid #c5c5c5;
}

.loginFormBottom {
  width: 94vw;
  height: 3vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #5b5b5b;
  font-size: 4vw;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginErr {
  padding-left: 20vw;
  font-size: 3vw;
  color: #de3c4b;
}

.loginFormRadio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.clickLoginFormButtom {
  position: absolute;
  bottom: 0;
  left: 3vw
}

.loginFormBottom1 {
  margin-bottom: 
}