
.formContent {
  padding-top: 2vh;
  padding-left: 3vw;
}

.formtext {
  font-size: 4vw;
  color: #5b5b5b;
  margin: 1vh 0;
}

.passwordContent {
  height: calc(100vh - 31vw);
  position: fixed;
  top: 11vw;
  width: 100vw;
  overflow: scroll;
}

.successBody {
  height: 49vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
  color: #5b5b5b;
}

.successText1 {
  margin: 30px 0 10px;
}

.successImg {
  width: 27vw;
}

.loginErr {
  padding-left: 3vw;
  font-size: 4vw;
  color: #de3c4b;
}