.content {
  height: calc(100vh - 31vw);
  position: fixed;
  top: 11vw;
  width: 100vw;
  overflow: scroll;
}

.contentBody  {
  width: 100vw;
  height: 12vw;
  line-height: 12vw;
  background-color: #fff;
  font-size: 4vw;
  padding: 0 3vw;
  margin-top: 3vw;
  border-top: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
  color: #5b5b5b;
}

.contentBody1Text {
    color: #5b5b5b;
    font-size: 4vw;
    margin: 2vw;
}

.contentBody1 {
  width: 100vw;
  height: 20vw;
  background-color: #fff;
  padding: 2vw 0 2vw 2vw;
  border-top: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
}

.contentBodyInput {
  height: 14vw;
  border-bottom: 1px solid #c5c5c5;
}

.input {
  height: 13vw;
  font-size: 8vw;
  border: 1px solid #fff;
}

{/*****成功页面*****/}
.successBody {
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  position: fixed;
  top: 11vw;
  overflow: scroll;
}

.successImg {
  width: 27vw;
}

.successText1 {
  margin: 10px 0;
  color: #5b5b5b;
}

.successText1 > span {
  color: #df4856;
}

.successText2 {
  margin: 4vw 0;
  color: #64b45a;
  border-bottom: 2px solid #64b45a;
}
