.timeContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 3vw;
  background-color: #e3e3e3;
  color: #5b5b5b;
  font-size: 4vw;
}

.lotteryTime  {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e35966;
}

.lotteryTimer {
  width: 16vw;
}